<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">
<listeners>
    <listener class-name="utility.FCI_Listener" />
  </listeners>
  <test name="Test">
  <packages>
            <package name="suite.sanity"/>
        </packages>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
